.show-container {
  background-color: white;
  height: 100vh;
}

.plot-cover {
  display: flex;
  height: 50vh;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-position: center;
  color: white;
  text-align: center;
}


.plot-details {
  margin-top: -50px;
  margin-right: 10%;
  margin-left: 10%;
}

.icon {
  display: flex;
}

.details-display {
  display: flex;
}

.plot-book {
  align-items: center;
  background-color: rgb(240, 240, 240);
  padding: 10px;
  bottom: 10px;
  left: 10px;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
}

.book_button {
  display: flex;
  align-items: center;
}

.button_book {
  text-align: center;
  background-color: green;

}

.plot-info {
  background-color: rgb(240, 240, 240);
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
}

.plot-location {
  background-color: rgb(240, 240, 240);
  border-radius: 4px;
  height : 100px;
  padding: 10px;
  margin-bottom: 10px;
}

.plot-description {
  background-color: rgb(240, 240, 240);
  padding: 30px 20px; // à supprimer
  margin-bottom: 30px; // à supprimer
  border-radius: 4px;
}

.linked_pickers {
  display: flex;
}

h3 {
  margin-top: 0px;
  font-size: 28px;
}

.map-show {
  border: solid 2px white;
}

.input-group.date .input-group-addon {
    cursor: pointer;
}


