.show-container {
  background-color: #F4F4F4;
  margin-bottom: 50px;
  font-family: 'Varela Round', sans-serif;
}

.plot-cover {
  display: flex;
  height: 50vh;
  background-size: cover !important;
  align-items: center;
  justify-content: center;
  position: relative;
  background-position: center;
  text-align: center;
  opacity: 0.8;
}

.plot-cover h1 {
  color:white;
}

.reviews-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.review-user{
  display: flex;
  align-items: center;
  margin-left: 20px;
  margin-top: -20px;
  span {
    margin-right: 10px;
    font-weight: bold;
    font-size: 12px;
  }
}

.plot-show-comment {
}

.edit-plot-show a {
  position: absolute;
  background-color: white;
  color: $green;
  border: 1px solid $green;
  text-decoration: none;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  width: 70px;
  right: 30px;
  top: 30px;
  padding: 5px 0px;
  transition: 0.5s background-color ease;
}

.edit-plot-show a:hover {
  background-color: $green;
  color: white;
}

.delete-plot-show a {
  position: absolute;
  background-color: white;
  color: $red;
  border: 1px solid $red;
  text-decoration: none;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  width: 70px;
  right: 110px;
  top: 30px;
  padding: 5px 0px;
  transition: 0.5s background-color ease;
}

.delete-plot-show a:hover {
  background-color: $red;
  color: white;
}

.plot-details {
  margin-top: -50px;
  margin-right: 10%;
  margin-left: 10%;
}

.details {
  border-top: 1px solid #C2C5CB;
  padding: 15px;
}

.plot-location {
  background-color: white;
  border-radius: 4px;
  height : 350px;
  padding: 20px;
  margin-bottom: 10px;
  position: relative;
}

.avatar {
    border-radius: 50%;
  height: 60px;
  width: 60px;

}
.avatar-show {
  position: absolute;
  top: 20px;
  right: 20px;

}

.plot-book {
  align-items: center;
  background-color: white;
  padding: 10px;
  bottom: 10px;
  left: 10px;
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 20px;
}
.plot-book h3 {
  text-align: center;
}

.book_button {
  display: flex;
  align-items: center;
}

.button_book {
  text-align: center;
  background-color: green;
}

.plot-info, .plot-reviews {
  background-color: white;
  border-radius: 4px;
  padding: 5px;
  margin-bottom: 10px;
  font-size: 17px;
}

.plot-reviews {
  padding: 20px;
  margin-top: 25px;
  i {
    color: $green;
  }
}


.plot-description {
  background-color: white;
  border-radius: 4px;
  padding: 15px;
  margin-top: 25px;
}

.linked_pickers {
  display: flex;
}

.plot-details h3 {
  margin-top: 0px;
  font-size: 28px;
  margin-bottom: 30px;
}

.map-show {
  border: solid 2px white;
}

.input-group.date .input-group-addon {
    cursor: pointer;
}
.details-display p {
  margin: 0px;
  font-height: 10px;
}

#details-figures {
  width: 60%;
  margin-bottom: 10px;
}

.form {
  padding: 40px 10px;
  width: 350px;
  justify-content: center;
}

#total_price {
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
  color: #CF0A2C;
}

.flexbox {
  display: flex;
}
#show-flexbox {
  margin-top: 5px;
  justify-content: space-between;
  .left-elements {
    flex: 0 0 60%;
    z-index: 1;
    order: -1;
  }
  .right-elements {
    flex: 0 0 35%;
    position: sticky;
    top: 90px;
    height: 100%;
  }
}
.owner-details {
  color: #37474F;
}

@media (max-width: 992px) {
  #show-flexbox {
    display: block;
    z-index: 1;
    position: relative;
  }
  .right-elements {
    position: initial;
  }
}

.accept-decline{
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}
