.plot-details {
  margin-top: -50px;
  margin-right: 10%;
  margin-left: 10%;
}

.plot-cover {
  height: 50vh;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.plot-name {
  background-color: red;
  padding: 30px 20px; // à supprimer
  margin-bottom: 30px; // à supprimer
}

.plot-info {
  background-color: yellow;
  padding: 30px 20px; // à supprimer
  margin-bottom: 30px; // à supprimer
}

.plot-book {
  background-color: blue;
  padding: 30px 20px; // à supprimer
  margin-bottom: 30px; // à supprimer
}
