<%= simple_form_for [@plot, @booking] do |f| %>
  <p>Pick a start date:</p>
  <%= f.date_select :start_date %>
  <hr>
  <p>Pick an end date</p>
  <%= f.date_select :end_date %>
  <hr>
  <%= f.submit "Graze!", class: "btn btn-primary btn-block"%>
<% end %>
