<div class="show-container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-sm-push-8">
        <div class="show-book">
          <%= @user.first_name %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-8 col-sm-pull-4">
        <div class="show-name">
         name
        </div>
        <div class="show-info">
          description
          map
          more stuff!
        </div>
      </div>
    </div>
  </div>
</div>
