<div class="footer">
  <div class="footer-links">
    <a><i class="fa fa-pagelines" aria-hidden="true"></i></a>
    <a><i class="fa fa-leaf" aria-hidden="true"></i></a>
    <a><i class="fa fa-tree" aria-hidden="true"></i></a>
    <a><i class="fa fa-question" aria-hidden="true"></i></a>
    <a><i class="fa fa-users" aria-hidden="true"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fa fa-heart"></i> by herBnBroute
  </div>
</div>
