<li class="listed-item">
  <%= image_tag 'default-plot-picture-thumbnail.jpg', class: "item-picture" %>
  <div class="item-details">
    <h3><%= item.name %></h3>
    <p><%= item.location %></p>
  </div>
  <div class="item-price">
    <p><%= item.daily_price %></p>
    <p><small>per day</small></p>
  </div>
</li>
