.button {
  padding: 10px 40px;
  background-color: #5F8F30;
  border: 0px;
  border-radius: 10px;
  font-size: 20px;
  margin-top: 20px;
}

.button a {
  color: white;
  text-decoration: none;
}

.button:hover {
  background-color: #5F8F30;
  opacity: 0.8;
  border: 0px;
}

