.button {
  padding: 10px 40px;
  background-color: #5F8F30;
  border: 0px;
  border-radius: 10px;
  font-size: 20px;
  margin-top: 20px;
}

.button a {
  color: white;
  text-decoration: none;
}

.button:hover {
  background-color: #5F8F30;
  opacity: 0.8;
  border: 0px;
}

.accept, .decline {
  border-radius: 5px;
  color: white;
  margin: 0px 5px;
  padding: 6px 30px;
  transition: 0.5s background-color ease;
  &:hover {
    background-color: white;
  }
}

.decline {
  background-color: $red;
  border: 1px solid $red;
  &:hover {
    color: $red
  }
}

.accept {
  background-color: $yellow;
  border: 1px solid $yellow;
  &:hover {
    color: $yellow;
  }
}
