.cards-container {
  flex-grow: 1;
  overflow-y: scroll;
  margin: 15px;
}

.card{
  flex: 1 1 auto;
  box-shadow: 0.5px 0.5px 0.5px gray;
  transition: 0.5s;
  background-color: white;
  margin-bottom: 20px;
  }

.card-photo {
  background-size: cover;
  background-position: center;
  height: 180px;
  position: relative;
}
.card-text {
  position: absolute;
  top: 200px;
  left: 10px;
  color: white;
  font-size: 20px;
}
.card:hover {
  opacity: 0.7;
}
.card-footer {
  display: flex;
  justify-content: space-around;
  padding: 5px;
}
.card-name {
  padding: 15px;
  text-align: center;
  font-size: 25px;
  margin: 0px;
  list-style: none;
}
.card-name a {
  color: #484848;
  font-weight: 700;
  text-decoration: none;
}
.card-description {
  flex: 0 0 auto;
  font-size: 15px;
  list-style: none;
  font-weight: 150;
  color: #484848;
  margin-left: 10px;
}
.icon {
  margin-left: 10px;
  font-weight: 100;
  font-size: 15px;
}



