.listed-item {
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-top: 1px solid #EFEFEF;
}

.item-picture {
  height: 100px;
  width: 177.5px;
  background-size: cover;
  background-position: center;
}

.item-details {
  padding-left: 20px;
  flex-grow: 1;
  h3 {
  font-size: 18px;
  margin-bottom: 0px;
  }
  p {
  margin-top : 6px;
  opacity: 0.3;
  }
}

.item-price {
  width: 70px;
  font-size: 14px;
  opacity: 1;
  text-align:left;
  p:first-child {
    font-size: 20px;
    font-weight: bold;
  }
}

@media (max-width: 786px) {
  .listed-item {
  display:block;
  img {
    text-align: center;
    }
  }
  .item-price {
  width: auto;
  text-align: center;
  margin-top: 20px;
  p:first-child {
    margin-bottom: 0px;
    }
  }
}
