.radio_buttons > span {
  display: inline;
  margin-left:20px;
}

.review-container{
  margin: 20px;
  margin-top: 0px;
  p {
    font-size: 16px;
  }
  p:last-child{
    margin-left: 20px;
  }
  .form-control {
    font-size: 13px;
  }
}
