
.signup_form {
  // display: flex;
  height: 400px;
  justify-content: space-around;
}

.signup_form h2 {
   text-align: center;
}

.btn-default {
  background-color: #0060A1;
  color: white;
  border-radius: 2px;
}

.form-control {
  border-radius: 2px;

}

.control-label {
  color: #808080;
  font-family: "Raleway", "Helvetica", "sans-serif";
}

.help-block {
  font-size: 13px;
}

.sign_in_link{
  border: 1px, solid, #808080;
}

.form-actions {

}
